<h3>{{#link-to 'blog' blog.id}}{{blog.title}}{{/link-to}}</h3>
<img src={{blog.image}} alt="" /><br>
<h5>By: {{blog.author}}</h5>
<p>
  {{blog.text}} <br>
  <a href={{blog.storelink}}>Store Link</a>
</p>
