<div class='mainBox'>
{{frizbee-tile blog=model}}
</div>
<br>
<h3>Comments:</h3>

<div class="mainBox">
  <ul>
    {{#each model.comments as |comment|}}
        <li>{{comment.commenter}} says: {{comment.comment}}</li>
        <button class='btn btn-xs' {{action 'destroyComment' comment model}}>Delete</button>
    {{/each}}
  </ul><br><br>
</div>
<h4>Leave a comment:</h4>
{{new-comment save="save" blog=model}}
